html,
body {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  height: 100%;
}

body {
  color: antiquewhite;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  position: relative;
  background-color: #2e2c29;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #ff7e5f, #feb47b) 1;
}

.menuContainer {
  flex: 2;
}
.headerContainer {
  display: flex;
  flex: 1;
}

.logo img {
  display: flex;
  flex: 1;
  max-height: 3rem;
  left: auto;
  width: auto;
  margin: 0.25rem;
  cursor: pointer;
}

.headerSearchContainer {
  display: flex;
  justify-self: center;
  margin-right: 0.5rem;
}

.headerSearchContainer > p1 {
  margin: 1rem auto;
  align-self: center;
}

.headerSearchBar {
  font-family: "Bungee", sans-serif;
  height: 20px;
  width: 8rem;
  align-self: center;
  margin: 0 2rem;
  background-color: antiquewhite;
}

.headerSearchButton {
  margin: 1rem auto;
  align-self: center;
}

.btn {
  background-color: antiquewhite;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
  height: 2rem;
  width: 10rem;
  border-radius: 10px;
  font-family: "Bungee", sans-serif;
}

.btn:hover {
  background-color: #feb47b;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
}

.header-button {
  margin: 1rem 2rem;
}
.flex-spacer {
  flex: 2;
}

.menuButton {
  display: flex;
  flex: 1;
  margin: 1rem 2rem;
  max-width: 10rem;
  justify-content: center;
  justify-self: end;
}
.menuButtons {
  display: none;
  align-items: center;
}

.title-container {
  margin-top: 2rem;
  justify-content: center;
  align-content: center;
}

.categoryContainer {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin: 2rem 4rem 0;
}

.category-back-btn {
  justify-self: center;
  max-width: fit-content;
  cursor: pointer;
}
.category-back-btn:hover {
  color: #feb47b;
}
.category-back-btn > p {
  margin: 0;
}

.category-item,
.subcategory-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.category-item > span:hover,
.subcategory-item:hover {
  color: #feb47b;
}

.subcategory-container {
  display: block;
}

.subcategory-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  padding: 0;
  padding-top: 0.5rem;
  width: 100%;
}

.category-thumbnail {
  width: 100px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 6px;
}

.featured-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}

.featured-item {
  border-radius: 8px;
  margin: auto;
}

.featured-thumbnail {
  width: 200px;
  height: auto;
  vertical-align: middle;
  border-radius: 6px;
}

main {
  flex: 1;
  align-content: center;
}

.searchContainer {
  display: flex;
  justify-self: center;
  background-color: #2e2c29;
  padding: 1rem 10%;
  margin: 2rem 0;
  border: solid 3px;
  border-image: linear-gradient(to right, #ff7e5f, #feb47b) 1;
}

.searchContainer > h1 {
  margin: 1rem auto;
}

.searchBar {
  font-family: "Bungee", sans-serif;
  height: 20px;
  align-self: center;
  margin: 0 2rem;
  background-color: antiquewhite;
}

.searchButton {
  margin: auto;
}

.resultsContainer {
  display: none;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  margin: 0.3rem;
}

.resultsContainer img {
  margin: auto;
}

.focusContainer {
  display: none;
  margin: 2rem;
  justify-content: center;
}

.backButton {
  justify-self: center;
  max-width: fit-content;
  cursor: pointer;
}
.backButton:hover {
  color: #feb47b;
}
.backButton > p {
  margin: 0;
}

footer {
  background-color: #2e2c29;
  padding: 0.5rem 1rem;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #ff7e5f, #feb47b) 1;
  font-size: smaller;
}

.gif-title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 1rem;
  flex: 1;
}

.hidden {
  display: none;
}

/* --- 939px --- */
@media (max-width: 939px) {
  header {
    flex-direction: column;
  }
  .headerContainer {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .header-buttons {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .menuButtons {
    justify-content: center;
  }

  .searchBar {
    margin: 1rem 2rem;
  }
}

/* --- 920px --- */
@media (max-width: 920px) {
  .searchContainer {
    flex-direction: column;
  }
  .searchButton {
    margin: 1rem auto;
  }
}

/* --- 650px --- */
@media (max-width: 650px) {
  .headerSearchContainer {
    flex-direction: column;
  }
}

/* --- 620px --- */
@media (max-width: 620px) {
  .headerContainer {
    flex: 2;
  }
  .flex-spacer {
    flex: 0;
  }
}

/* --- 590px --- */
@media (max-width: 590px) {
  .subcategory-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .categoryContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 440px) {
  .categoryContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* --- 365px --- */
@media (max-width: 365px) {
  .subcategory-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 350px) {
  .menuButtons {
    flex-direction: column;
  }
  .subcategory-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .categoryContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* --- 320px --- */
@media (max-width: 320px) {
  .resultsContainer {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media (max-width: 290px) {
  .searchContainer > h1 {
    font-size: 22px;
  }
  .searchContainer {
    margin: 0;
    padding: 0;
  }
  .searchBar {
    max-width: min-content;
  }
}

/* --- 250px --- */
@media (max-width: 250px) {
  .subcategory-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
