html,
body {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  height: 100%;
}

body {
  color: antiquewhite;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header-block {
  display: flex;
  position: relative;
  background-color: #2e2c29;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #ff7e5f, #feb47b) 1;
}

.logo {
  position: absolute;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  cursor: pointer;
}
.logo img {
  display: flex;
  max-height: 3rem;
}

.btn {
  background-color: antiquewhite;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
  height: 2rem;
  width: 10rem;
  border-radius: 10px;
  font-family: "Bungee", sans-serif;
}

.btn:hover {
  background-color: #feb47b;
}

.header-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: justify;
  margin: 0 auto;
}
.header-button {
  margin: 1rem 2rem;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  list-style-type: none;
  justify-content: center;
  padding: 1rem;
  margin: 2rem 4rem 0;
  background-color: #2e2c29;
  border: solid 3px;
  border-image: linear-gradient(to right, #ff7e5f, #feb47b) 1;
}

.category-item {
  display: flex;
  cursor: pointer;
  font-weight: bold;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
}

.subcategory-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding-left: 1.5em;
  margin-top: 0.5em;
  grid-column: 1 / -1;
}

.subcategory-item {
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
}
.category-thumbnail {
  width: 100px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 6px;
}

.category-item,
.subcategory-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.featured-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}

.featured-item {
  border-radius: 8px;
  margin: auto;
}

.featured-thumbnail {
  width: 200px;
  height: auto;
  vertical-align: middle;
  border-radius: 6px;
}

main {
  flex: 1;
  align-content: center;
}

.searchContainer {
  display: flex;
  justify-self: center;
  background-color: #2e2c29;
  padding: 1rem 10%;
  margin: 2rem 0;
  border: solid 3px;
  border-image: linear-gradient(to right, #ff7e5f, #feb47b) 1;
}

.searchBar {
  height: 20px;
  align-self: center;
  margin: 0 2rem;
}

.searchButton {
  margin: 20px 0;
}

.resultsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
}

.resultsContainer img {
  margin: auto;
}

.focusContainer {
  margin: 2rem;
  justify-content: center;
}

.backButton {
  justify-self: center;
  max-width: fit-content;
  cursor: pointer;
}
.backButton > p {
  margin: 0;
}

footer {
  background-color: #2e2c29;
  padding: 1rem;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #ff7e5f, #feb47b) 1;
  font-size: smaller;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerItem {
  flex: 1;
}
.footerItem > p {
  margin: 0;
}
